@model Product

<h2>Delete a Product</h2>
<hr />
<form method="post">
    <div class="border p-3 mt-4">
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" disabled type="text" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" disabled type="text" class="form-control" />
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back to List</a>
            </div>
        </div>

    </div>



</form>
